.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-form {
  background: #152a4f;
  padding: 2rem;
  border-radius: 21px 8px 21px 8px;
  width: 100%;
  max-width: 400px;
  margin-top: -200px;
  color: white;
  box-shadow: 0 0 10px rgb(25, 24, 24);
  
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-groupL {
  margin-bottom: 1rem;
}

.form-groupL label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
}

.form-groupL input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid hsl(216, 2%, 58%);
  border-radius: 4px;
  font-size: 1rem;
  outline: 0;
  background-color: #152a4f;
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.form-groupL input:focus {
  outline: none;
  border-color: rgb(232, 230, 237);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(217, 226, 217);
  color: #152a4f;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: rgb(55, 157, 55);
  color: white;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: #dc3545;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f8d7da;
  border-radius: 4px;
  text-align: center;
} 